.footer-text {
  font-size: 14px;
  line-height: 22px;
  color: #555;
  white-space: normal; 
}


 @media (max-width: 767px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer-text {
    font-size: 13px;
    line-height: 20px;
  }
} 
