.hero-wrapper {
  width: 100%;
  overflow: hidden;
}


.grid-img {
  width: 100%;
  height: 400px;       
  object-fit: cover;   
  border-radius: 8px;
}


.small-img {
  width: 100%;
  border-radius: 10px;
}


#heroCarousel4 .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  border: none;
  margin: 0 4px;
}

#heroCarousel4 .carousel-indicators .active {
  opacity: 1;
  background-color: #000;
}


#heroCarousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  border: none;
}

#heroCarousel .carousel-indicators .active {
  opacity: 1;
  background-color: #000;
}


@media (max-width: 768px) {
  .grid-img {
    height: 150px;
  }
}

@media (max-width: 480px) {
  .grid-img {
    height: 120px;
  }
}
