.studio-panel {
  position: absolute;
  top: 60px;
  left: 0;
  height: 400px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 60px;
  /* z-index: 2000; */
} 

.studio-icon {
  width: 60px;
}

.studio-title-text {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.studio-image img {
   width: 350px;
  border-radius: 10px;
}

.studio-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  background-color:whitesmoke;
}
