.mega-menu-container {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 60px;
  z-index: 2000;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  overflow-y: auto;
  max-height: 80vh;
}

.mega-menu-col1 h6 {
  color: #fb56c1;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
}

.mega-menu-col1 ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}

.mega-menu-col1 ul li a {
  text-decoration: none;
  color: #333333c8;
  display: block;
  padding: 4px 0;
  font-size: 14px;
  transition: color 0.2s;
}

.mega-menu-col1 ul li a:hover {
  color: black;
  font-weight: 500;
}

.nav1-link {
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
}

.nav1-link:hover {
  color: #fb56c1;
}

.nav1-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #fb56c1;
  transition: width 0.3s;
}

.nav1-link:hover::after {
  width: 100%;
}
